{% extends 'layout.html' %}

{% block content %}
    <div class="container">

        <div style="margin-bottom: 10px;">
            {#            <a class="btn btn-success" href="#" target="_blank">  <!-- 在新的页面打开 -->#}
            <a class="btn btn-success" href="/reid/identify/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                上传图像进行识别
            </a>
        </div>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 行人列表
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <colgroup>
                    <col style="width: 15%;">  <!-- 设置id列宽度 -->
                    <col style="width: 25%;"> <!-- 设置图片信息列宽度 -->
                    <col style="width: 40%;"> <!-- 设置图片列宽度 -->
                    <col style="width: 10%;"> <!-- 设置操作列宽度 -->
                    <col style="width: 10%;"> <!-- 设置操作列宽度 -->
                </colgroup>
                <thead>
                <tr>
                    <th>id</th>
                    <th>图片信息</th>
                    <th>图片</th>
                    <th>创建者</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <th scope="row">{{ obj.id }}</th>
                        <td>{{ obj.img_info }}</td>
                        <td>
                            <a href="/data/{{ obj.img }}" target="_blank"><img src="/data/{{ obj.img }}" style="height: 180px; width: 200px"></a>
                        </td>
                        <td>{{ obj.admin.username }}</td>
                        <td>
                            <button uid="{{ obj.id }}" class="btn btn-primary btn-xs btnShowImg" data-toggle="modal" data-target="#showModel">显示来源</button>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        <!--分页-->
        <div class="clearfix">
            <ul class="pagination" style="float: left;">
                {{ page_string }}
            </ul>
        </div>

    </div>

    <!-- 模态窗口 -->
    <div id="showModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">图片</h4>
            </div>
            <div class="modal-body">
            <!-- 此处将显示图片 -->
            <p><img id="modalImg" src="" alt="图片"></p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>

        </div>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(function () {
            bindBtnDetectEvent();
            bindShowImgEvent();
        })

        function bindBtnDetectEvent() {
            $(".btnDetect").click(function () {
                alert("检测中，请等待...");
                // 获取自定义的检测id
                var uid = $(this).attr("uid");
                $.ajax({
                    url: "/person/" + uid + "/detect/",
                    type: "get",
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            alert("检测成功");

                            // 用js实现页面刷新
                            location.reload();
                        } else {
                            alert(res.msg);
                        }
                    }

                })
            })
        }

        function bindShowImgEvent() {
            $(".btnShowImg").click(function () {
                alert("显示中，请等待...");
                // 获取自定义的 id
                var uid = $(this).attr("uid");
                // 发起 AJAX 请求以获取图片 URL
                $.ajax({
                    url: "/reid/" + uid + "/display/",
                    type: "get",
                    dataType: "JSON",
                    success: function (res) {
                        if (res.image_url) {
                            // 设置模态窗口中的图片 URL
                            $("#modalImg").attr("src", res.image_url);
                            // 显示模态窗口
                            $('#showModal').modal('show');
                        } else {
                            alert("无法获取图片");
                        }
                    }
                });
            })
        }

    </script>
{% endblock %}
